<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>The Last of us Survival Kit</title>
  </head>
  <body>
    {% extends 'base.html' %} {% block content %}
    <h1>About the Last of us</h1>
    <hr/>
    <p>The World is a big and Scary place since the start of the outbreak. We are all that remains know who to trust. Log all your encounters here whether friend or foe.</p>
    <footer>All Rights reserved, &copy; 2023 The Last Survival Kit</footer>
    {% endblock %}
  </body>
</html>